<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Client</title>
  </head>
  <body>

    <h1> Client Info </h1>
    <hr>
    <br>
    <h6> client </h6>
    <p> {{ client }} </p>
    <br>
    <h6> get currencies </h6>
    <p> {{ currencies }} </p>
    <br>
    <h6> get market depth </h6>
    <p> {{ depth }} </p>
    <br>
    <h6> get symbol klines </h6>
    <p> {{ klines }} </p>
    <br>
    <h6> get list of markets </h6>
    <p> {{ markets }} </p>
    <br>
    <h6> place a market buy order </h6>
    <p> {{ order }} </p>
    <br>
    <h6> get list of active orders </h6>
    <p> {{ orders }} </p>
    <br>

  </body>
</html>
